
<div mat-dialog-title class="dialog-title">
    <!-- <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button> -->
<mat-card class="example-card">
    
    <mat-card-subtitle>{{data.title}}</mat-card-subtitle>
    <!-- <button mat-icon-button class="close-button" [mat-dialog-close]="true" align="end">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button> -->
    <mat-card-title>Nasa Id: {{data.nasa_id}}</mat-card-title>
    <mat-card-content>
      <p><b>Date       :</b>  {{data.date_created}}</p>
      <p><b>Description:</b>  {{data.description}} </p>
      
    </mat-card-content>
   
   
  </mat-card>
</div>
